.goods__container {
   margin-top: 40px;
   margin-bottom: 80px;
   padding: 0 15px;
}

.goods__subtitle {
   margin-bottom: 30px;
}

.goods__block {
   position: relative;
   text-align: center;
}

.product {
   margin: 0 auto;
   width: 290px;
}

.product__image-wrapper {
   margin-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 290px;
   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 12px;
}

.product__image {
   width: 200px;
   height: 200px;
}

.product__info {
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
}

.product__name,
.product__price {
   font-size: 16px;
   font-weight: 600;
}

.product__link {
   position: relative;
   padding-right: 20px;
   display: block;
   font-size: 14px;
   color: #2238FF;

   /* box-sizing: border-box;
   width: 100%;
   padding: 5px;
   border: 1px solid #2238FF;
   border-radius: 5px;
   transition: all 0.3s; */
}

.product__link::after {
   position: absolute;
   display: block;
   content: '';
   width: 12px;
   height: 8px;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   background: url('../img/arrow-product.svg') no-repeat center;
}

.product__link:hover {
   color: #0017E6;
}

.product__link:active {
   color: #CCCCCC;
}

.product__link:active::after {
   filter: grayscale(1) opacity(0.3) ;
}

.goods__arrow {
   position: absolute;
   display: block;
   width: 60px;
   height: 60px;
   top: 115px;
   background: url(../img/arrow-slider.svg) #ffffff center/contain no-repeat;
   border-radius: 50%;
   z-index: 10;
}

.goods__arrow__prev {
   left: -5px;
}

.goods__arrow__next {
   right: -5px;
   transform: rotate(180deg);
}


@media (min-width: 768px) {
   .goods__container {
      padding: 0 25px;
   }

   .product {
      width: 340px;
   }

   .product__image-wrapper {
      margin-bottom: 20px;
      height: 340px;
    }

   .product__image {
      width: 235px;
      height: 235px;
   }

   .goods__arrow {
      top: 140px;
   }
   
   .goods__arrow__prev {
      left: 10px;
   }
   
   .goods__arrow__next {
      right: 10px;
   }
}

@media (min-width: 1024px) {
   .goods__container {
      margin-top: 70px;
      margin-bottom: 140px;
      padding: 0 130px;
   }

   .product {
      width: 370px;
   }

   .product__image-wrapper {
      margin-bottom: 24px;
      height: 370px;
    }

   .product__image {
      width: 255px;
      height: 255px;
   }

   .product__info {
      margin-bottom: 24px;
   }

   .product__name,
   .product__price {
      font-size: 24px;
      font-weight: 400;
   }
    
   .product__link {
      font-size: 16px;
   }
   
   .goods__arrow {
      width: 90px;
      height: 90px;
   }
   
   .goods__arrow__prev {
      left: 0px;
   }
   
   .goods__arrow__next {
      right: 0px;
   }
}

@media (min-width: 1440px) {
   .goods__container {
      padding: 0 140px;
   }

   .goods__arrow__prev {
      left: 18px;
   }
   
   .goods__arrow__next {
      right: 18px;
   }
}
